DATABASE_URL=postgresql://postgres:senha@localhost:5432/e_cormeci
PORT=3001
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=defina-uma-senha
DELIVERY_EMAIL=entregador@example.com
DELIVERY_PASSWORD=defina-uma-senha
PIX_KEY=38998625393